.card {
	border: 1px solid #ddd;
	border-radius: 8px;
	overflow: hidden;
	width: 220px;
	height: 300px;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 10px;
	position: relative;
}

.photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.name {
	margin-top: 210px;
	font-size: 1.2rem;
	color: white;
	position: relative;
	z-index: 2;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.editButton {
	background-color: blue; 
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	margin-bottom: 15px;
	margin-top: 2px;
	margin: 10px;
	position: relative;
	z-index: 2;
}

.deleteButton {
	background-color: red; 
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	margin-bottom: 15px;
	margin-top: 2px;
	position: relative;
	z-index: 2;
}

.bookButton:hover {
	background-color: #0056b3;
}

