
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
	font-size: 1.8rem;
	font-weight: bold;
	color: #ff7e5f;
	cursor: pointer;
}

.nav a {
	text-decoration: none;
	color: #333;
	font-size: 1.1rem;
}

.nav a:hover {
	color: #ff7e5f;
}

.login{
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
	width: fit-content,
}