.landingPage {
	font-family: Arial, sans-serif;
	color: #333;
	text-align: center;
	background-image: url("../images/hk4.jpg"); 
	background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center; 
	min-height: 100vh; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
  }
  
  .heroSection {
	padding: 60px 20px;
	color: white;
	text-align: center; 
  }
  
  .heroTitle {
	font-size: 3rem;
	margin-bottom: 10px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .heroSubtitle {
	font-size: 1.25rem;
	margin-bottom: 20px;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  }
  
  .heroButton {
	padding: 15px 30px;
	background-color: #fff;
	border: none;
	color: #ff7e5f;
	font-size: 1.1rem;
	cursor: pointer;
	border-radius: 30px;
	transition: all 0.3s ease;
  }
  
  .heroButton:hover {
	background-color: #ff7e5f;
	color: white;
  }